<div class="container forma">
  <form action="create()">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Escribe el nombre</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        placeholder="Escribe el nombre"
      />
    </div>
    <div class="mb-3">
      <label for="lastNameInput" class="form-label">Escribe el apellido</label>
      <input
        type="text"
        class="form-control"
        id="lastNameInput"
        placeholder="Escribe el apellido"
      />
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Escribe el email</label>
      <input
        type="email"
        class="form-control"
        id="emailInput"
        placeholder="Escribe el email"
        required
      />
    </div>
    <div class="col mb-3">
      <button type="submit" class="btn btn-primary mb-3">Crear</button>
    </div>
  </form>
</div>
