* {
  color: rgba(255, 255, 255, 0.8);
}

.logotipo {
  text-align: center;
  width: 25%;
  margin: 5px 0 5px 10px;
}

.logo-text {
  font-size: 1.7em;
  width: 100%;
  margin: 5px 0 5px 10px;
}

p,
a {
  position: relative;
}

p {
  top: 25%;
}

a {
  top: 16%;
}
