<div class="container">
  <div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>

      <div class="m-2 p-2">
        <button
          class="btn btn-rounded btn-primary"
          type="button"
          [routerLink]="['clients/new']"
        >
          New Client
        </button>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <th>created_At</th>
            <!-- <thead>
              <tr>
                <th>acciones</th>
              </tr>
            </thead> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.created_at }}</td>
            <!-- <tbody>
              <tr></tr>
              <tr>
                <td>Editar</td>
                <td>Eliminar</td>
              </tr>
            </tbody> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
